/* home page section  */

@media (max-width: 2865px) and (min-width:1750px) {
  .custom-col-change .custom-col-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
    /* 8/12 */
  }

  .custom-col-change .custom-col-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
    /* 4/12 */
  }
}

@media (max-width:1025px) and (min-width:995px){
  .box-with-content{
    margin-right: 100px;
  }
}

@media (max-width:994px) {
   .box-with-content{
    margin-right: 0px;
  }
    /* .arch-container{
      margin-left: 10px;
    } */
  /* .small-level-askpert{
    margin-right: 10px;
  } */
}

@media (max-width:767px) and (min-width:380px) {
  /* .arch-container{
    width: 10px !important;
    margin-left: 30%;
  } */
}

@media (max-width:465px) {
  .diamond-shape{
    left:30% !important;
  }
   .custom-col {
    width: 100%;
  }
  .input-style{
    width: 70% !important;
    margin-left: 15%;
  }
  .input-style-messge{
    width: 70% !important;
    margin-left: 15%;
  }

}

@media (min-width:52px) {
  body {
    overflow-x: hidden !important;
  }
}

@media (max-width:428px) {
  .texts-section {
    margin-left: 10px;
  }
}

@media (max-width:410px) {
  .diamond-shape {
    left: 15% !important;
  }
}

@media (max-width:350px) {
  /* .arch-container {
    margin-left: 10px !important;
  } */

  .home-style-left-col h1 {
    font-size: 50px !important;
  }
  .home-style-text{
    font-size: 20px !important;
  }
  .home-section-img-style{
    width: 100%;
  }
}

@media (max-width:548px) {
  .correct-alignment{
    margin-top: 0% !important;
    margin-left: 40% !important;
  }
}

@media (max-width:547px) {
  .form-style{
    margin-left: 5%;
  }
  .form-sub-head{
    margin-left: 8%;
  }
  .submit-btn{
    margin-left: 33% !important;
  }
  .footer-image-column{
    min-height: 20vh;
  }
  .input-style-messge{
    max-width: 80%;
  }
}

@media (max-width:769px) and (min-width:767px)  {
  .input-style-messge{
    width: 50%;
    margin-left: 25%;
  }

}

@media (max-width:767px) and (min-width:462px){
  .diamond-shape{
    margin-right: 300px;
    z-index: 50;
    left: 90% !important;
  }
      .arch-container {
        width: 40%;
        margin-left: 30%;
      }

      .footer-section2 .inside-row {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
  }

}
@media (max-width:768px) {
  .first-paragraph{
    margin-left: 20px;
    /* margin-right: 10px; */
  }
  .industry-cards {
    margin-left: 4.5% !important;
  }

  .small-level-askpert{
    margin-top: 13px;
  }
  .first-paragraph{
    font-size: 18px;
  }

  .card-style{
    margin-top: 100px !important;
    width: 70%;
  }

  .form-sections-with-image{
    background-image: url(images/footer\ image.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .diamond-shape{
    margin-right: 300px;
    z-index: 50;
    left: 75%;
  }

  /* .input-style-messge {
    width: 50% !important;
    margin-left: 25%;
  } */

  .home-section-img-style {
    margin-left: 39px;
  }

  .footer-section2 {
    margin-top: 0px !important;
  }

  .card-style2 {
    margin-left: 24px;
    margin-bottom: 10px;
  }

  .footer-section {
    display: none;
  }

  .contact-text {
    margin-left: 0% !important;
  }

  .footer-section2 {
    background-color: #255f5f;
    display: block;
  }

  
  /* 
  .desktop-box-section{
    display: none;
  } */

  .location-mobile-view {
    float: right !important;
    margin-right: 100px;
  }


  /* .mobile-view-box-section{
    display: block;
  }

   .mobile-view-box-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  } */

  .submit-btn {
    margin-left: 38%;
  }

  .location-texts-head {
    margin-left: 0px !important;
  }

  .copy-rights-reserved {
    /* margin-left: 200px; */
  }

  .copy-rights-reserved-head {
    margin-right: 0px;
  }

}

@media (max-width: 929px) and (min-width:779px) {
  .col-1st {
    display: none;
  }

  .col-2nd,
  .col-3rd {
    width: 50%;
    float: left; /* Or use flexbox if you're using flex */
  }
}

@media (max-width:779px) {
  .col-2nd,
  .col-3rd {
    width: 100%;
    float: left; /* Or use flexbox if you're using flex */
  }
}
@media (max-width:515px) {
  .last-card {
    left: 70px !important;
    /* width: 100%; */
  }

  /* .first-card{
    margin-right: 100px !important;
    width: 50%;
  } */

  /* .card-style2{
    margin-left: 70px !important;
  } */

  .above-card {
    right: 80px !important;
  }

  /* .card-style2{
  left: 0px !important;
  } */
}

@media (max-width:490px) {
  .card-style2 {
    left: 0px !important;
  }
}

@media (max-width:348px) {
  .first-card {
    margin-right: 160px !important;
  }

  .card-style2 {
    left: 40px !important;
  }

  .above-card {
    margin-right: 200px !important;
  }

  .last-card {
    margin-right: 200px !important;
  }
}

@media (max-width:585px) {
  .card-style2 {
    margin-left: 0px !important;
  }
}


@media (max-width: 546px) {
  /* .footer-section2 .col-4 {
    flex: 0 0 200%;
    max-width: 20%;
  } */


  /* .footer-section {
    display: block;
  }

  .footer-section2 {
    display: none;
  } */

  .location-icon-style {
    margin-top: 5px;
  }

  .location-texts-head {
    margin-left: 100px !important;
  }

  .input-style {
    width: 90%;
  }

  .input-style-messge::placeholder {
    text-align: center;
  }

  .copy-rights-reserved {
    margin-left: 80px;
  }

  .copy-rights-reserved-head {
    margin-left: 20px;
  }
}

@media (max-width: 990px) {
  .card-style {
    margin-left: 70px !important;
    margin-top: 10px;
  }

  .arch-container {
    /* padding: 130px !important; */
  }

  .home-style-left-col h1 {
    font-size: 70px;
  }
}



@media (max-width: 920px) {
  .card-style {
    margin-left: 10% !important;
  }
}

@media (max-width:2249px) {
  .industry-cards {
    margin: auto;
  }
}

@media (max-width:1240px) and (min-width:1200px) {
  .industry-cards {
    margin-left: 5.5% !important;
  }
}

@media (max-width:1760px) {
  .industry-cards {
    margin-left: 20%;
  }
}

@media (max-width:1600px) {
  .industry-cards {
    margin-left: 16%;
  }
}

@media (max-width:1512px) {
  .industry-cards {
    margin-left: 14%;
  }
}

@media (max-width:1420px) {
  .industry-cards {
    margin-left: 10%;
  }
}

@media (max-width:1280px) {
  .industry-cards {
    margin-left: 6.7%;
  }
}

@media (max-width:1175px) {
  .phone-text {
    margin-left: 60%;
  }

  .contact-text {
    margin-left: 50%;
  }
}

/* FOOTER  */

@media (max-width:1236px) and (min-width:1198px) {
  .contact-text {
    margin-left: 50%;
  }
}

@media (max-width:968px) {
  .contact-text {
    margin-left: 20%;
  }
}

@media (max-width:1210px) and (min-width:769px){
  .input-style-messge {
    width: 90%;
  }
}


@media (max-width:995px) {
  #Footer .form-sections .form-row-style>div {
    width: 100% !important;
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }

  .input-style {
    width: 90%;
  }

  .input-style-messge::placeholder {
    text-align: center !important;
  }
}

@media (max-width:995px) {
  .footer-image-column{
    height: 600px;
  }
}
