/* box with content  */
@media (max-width:1200px) and (min-width:500px) {
  .arch-container {
    width: 300px;
    height: 400px;
  }
}

/* home page section  */



/* @media (max-width: 2865px) and (min-width:1750px) {
  .custom-col-change .custom-col-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .custom-col-change .custom-col-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
} */

@media (max-width:1027px) and (min-width:995px) {

  /* .box-with-content{
    margin-right: 100px;
  } */
  /* .industry-cards {
    margin-left: 3.5% !important;
  } */

  .second-para {
    text-align: center;
  }
}

@media (max-width:1022px) {
  .input-style-messge {
    width: 95% !important;
  }
}

@media (max-width:994px) {
  .box-container-text {
    margin-left: 100px !important;
  }

  /* .arch-container{
      margin-left: 10px;
    } */
  /* .small-level-askpert{
    margin-right: 10px;
  } */
}

@media (max-width:609px) {
  .box-container-text {
    margin-left: 0px !important;
  }
}


@media (max-width:465px) {
  .diamond-shape {
    left: 30% !important;
  }

  .custom-col {
    width: 100%;
  }

  .input-style {
    width: 70% !important;
    margin-left: 15%;
  }

  .input-style-messge {
    /* width: 50% !important; */
    margin-left: 10%;
  }

}

@media (min-width:52px) {
  body {
    overflow-x: hidden !important;
    font-family: none;
  }
}

@media (max-width:428px) {
  .texts-section {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 14px !important;
  }

  .box-container-text {
    margin-left: 25px !important;
    margin-bottom: 0px !important;
  }

  .block-chain-head {
    font-size: 23px !important;
  }

  .product-head {
    font-size: 28px !important;
  }

  .block-chain-paragraph {
    font-size: 14px !important;
  }

  .arch-container {
    height: 400px !important;
  }

  .industry-cards {
    margin-top: 0px !important;
  }

}

@media (max-width:462px) {
  .home-style-left-col h1 {
    font-size: 30px !important;
  }

  .first-paragraph {
    text-align: center !important;
  }

  .input-style-messge{
    width: 70% !important;
    margin-left: 15% !important;
  }

  .home-style-text {
    font-size: 15px !important;
    margin-left: 10px;
    margin-top: 20px;
  }

  .custom-half {
    flex-basis: 50%;
    max-width: 50%;
  }

  .home-section-img-style {
    /* margin-left: 50px !important; */
    width: 250px !important;
    height: 300px !important;
  }

  .last-paragraph {
    text-align: center;
    font-size: 20px !important;
  }

  /* Home section image and the text style  */
  .col-lg-1,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-xs-1,
  .col-xs-10,
  .col-xs-11,
  .col-xs-12,
  .col-xs-2,
  .col-xs-3,
  .col-xs-4,
  .col-xs-5,
  .col-xs-6,
  .col-xs-7,
  .col-xs-8,
  .col-xs-9 {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
}

@media (max-width:410px) {
  .diamond-shape {
    left: 15% !important;
  }
}

@media (max-width:350px) {
  /* .arch-container {
    margin-left: 10px !important;
  } */

  .home-style-left-col h1 {
    font-size: 25px !important;
  }

  .home-style-text {
    font-size: 10px !important;
    margin-top: 20px;
  }

  .last-paragraph {
    font-size: 15px !important;
  }

  /* .custom-half {
    flex-basis: 60%;
    max-width: 55%;
  } */

  .custom-half {
    flex-basis: 50%;
    max-width: 50%;
  }

}

@media (max-width:548px) {
  .correct-alignment {
    margin-top: 0% !important;
    margin-left: 40% !important;
  }
}

@media (max-width:547px) {
  .form-style {
    margin-left: 5%;
  }

  .form-sub-head {
    margin-left: 8%;
  }

  .submit-btn {
    margin-left: 33% !important;
  }

  .footer-image-column {
    min-height: 20vh;
  }

  /* .input-style-messge {
    max-width: 80%;
  } */
}

@media (max-width:770px) {
  .block-chain-paragraph {
    margin-left: 15px;
  }
}

@media (max-width:599px) and (min-width:499px) {
  .input-style-messge{
    width: 240% !important;
    position: relative;
    right: 70% !important;
  }
}

@media (max-width:769px) and (min-width:767px) {
  /* .input-style-messge {
    width: 50% !important;
    margin-left: 15%;
  } */

  /* .input-style{
    width: 50% !important;
    margin-left: 25%;
  } */

  .submit-btn {
    margin-left: 15%;
  }

.input-style-messge{
    margin-left: 8%;
    width: 85% !important;
  }

  .left-input-mob-style{
    width: 100% !important;
    position: relative !important;
    left: 50px !important;
  }

  .right-input-mob-style{
    position: relative;
    left: 50px;
    width: 70% !important;
  }
  
  .footer-section2 .inside-row {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
  }

}

@media (max-width:1524px) and (min-width:765px) {
  .home-section-img-style {
    height: 600px;
  }
}

@media (max-width:767px) and (min-width:599px) {
  .input-style-messge{
    width: 260% !important;
    position: relative;
    right: 80%;
  }
}

@media (max-width:767px) and (min-width:462px) {
  .diamond-shape {
    margin-right: 300px;
    z-index: 50;
    left: 88% !important;
  }

  .custom-half {
    flex-basis: 55%;
    max-width: 65%;
  }

  .home-section-img-style {
    width: 400px !important;
  }

 .left-input-mob-style,
  .right-input-mob-style {
    width: 100% !important;
    position: relative;
    right: 0;
    margin-bottom: 10px; /* space between stacked inputs */
  }

  .submit-btn {
    margin-left: 130px;
  }
  /* .custom-half{
   flex: 0 0 50% !important;
    max-width: 50% !important;
  }
   .no-wrap-row {
    flex-wrap:unset !important;
  } */
  .arch-container {
    width: 60%;
    margin-left: 20%;
  }

  .footer-section2 .inside-row {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
  }

  .home-style-left-col h1 {
    font-size: 35px !important;
  }

  .home-style-text {
    font-size: 10px !important;
    margin-top: 15px;
  }

}

@media (max-width:770px) and (min-width:430px) {
  /* .second-para {
    margin-left: 40px;
  } */

}

@media (max-width:769px) {

  /* .industry-cards {
    margin-left: 4.5% !important;
  } */

  /* .input-style-messge{
    margin-left: 8%;
    width: 85% !important;
  }

  .left-input-mob-style{
    width: 100% !important;
    position: relative !important;
    left: 50px !important;
  }

  .right-input-mob-style{
    position: relative;
    left: 50px;
    width: 70% !important;
  } */


  .first-paragraph {
    text-align: center;
  }

  .second-para {
    margin-left: 8px;
    margin-right: px;
  }

  .card-style {
    width: 150px !important;
  }

  .card-style img {
    height: 200px;
  }

  .custom-row-990 {
    width: 870px !important;
  }

  .industry-cards {
    padding-left: 3px !important;
  }

  .small-level-askpert {
    margin-top: 13px;
  }

  .first-paragraph {
    font-size: 18px;
  }

  .card-style {
    margin-top: 100px !important;
    width: 70%;
  }

  .form-sections-with-image {
    background-image: url(images/footer\ image.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .diamond-shape {
    margin-right: 300px;
    z-index: 50;
    left: 75%;
  }

  /* .input-style-messge {
    width: 50% !important;
    margin-left: 25%;
  } */

  /* .home-section-img-style {
    margin-left: 39px;
  } */

  .footer-section2 {
    margin-top: 0px !important;
  }

  .card-style2 {
    margin-left: 24px;
    margin-bottom: 10px;
  }

  .footer-section {
    display: none;
  }

  .contact-text {
    margin-left: 0% !important;
  }

  .footer-section2 {
    background-color: #255f5f;
    display: block;
  }


  /* 
  .desktop-box-section{
    display: none;
  } */

  .location-mobile-view {
    float: right !important;
    margin-right: 100px;
  }


  /* .mobile-view-box-section{
    display: block;
  }

   .mobile-view-box-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  } */

  .location-texts-head {
    margin-left: 0px !important;
  }


  /* .industry-cards {
    margin-left: 3% !important;
  } */
}

@media (max-width:735px) {
  .card-style {
    width: 120px !important;
  }

  .custom-row-990 {
    width: 760px !important;
  }

  .industry-cards {
    padding-left: 80px !important;
  }
}

@media (max-width:670px) and (min-width:570px) {
  .industry-cards {
    padding-left: 50px !important;
    margin-top: 0px !important;
  }

  .card-style {
    margin-top: 0px !important;
    width: 110px !important;
  }

  .custom-row-990 {
    margin-top: 0px !important;
    width: 680px !important;
  }

}

@media (max-width:570px) {
  .custom-row-990 {
    display: flex !important;
    flex-wrap: wrap !important;
  }

  .custom-row-990>.col-md-3 {
    flex: 0 0 50% !important;
    max-width: 45% !important;
  }

  .card-style {
    width: 70% !important;
  }

  .card-style img {
    height: 100% !important;
  }

  .industry-cards {
    padding-left: 0px !important;
  }
}

/* @media (max-width: 929px) and (min-width:779px) { */
/* .col-1st {
    display: none;
  }

  .col-2nd,
  .col-3rd {
    width: 50%;
    float: left; /* Or use flexbox if you're using flex */
/* }  */
/* } */

/* @media (max-width:915px) {
  .copy-rights-reserved-head{
    left: 40% !important;
  }
}

@media (max-width:700px) and (min-width:770px){
  .copy-rights-reserved-head{
    left: 0% !important;
  }
} */


@media (max-width:568px) {
  .footer-copy-rights-reserved {
    display: block;
  }

  .copy-rights-reserved {
    float: none;
    margin-left: 15% !important;
  }
}

@media (max-width:515px) {
  .last-card {
    left: 70px !important;
    /* width: 100%; */
  }


  /* .first-card{
    margin-right: 100px !important;
    width: 50%;
  } */

  /* .card-style2{
    margin-left: 70px !important;
  } */

  .above-card {
    right: 80px !important;
  }

  .diamond-shape {
    left: 83% !important;
  }

  /* .card-style2{
  left: 0px !important;
  } */
}

@media (max-width:499px) and (min-width:462px) {
   .input-style-messge {
    width: 200% !important;
    position: relative;
    right:50% !important;
  }
}

@media (max-width:499px) {
  .card-style2 {
    left: 0px !important;
  }

  .arch-container {
    width: 250px !important;
    height: 370px !important;
    margin: auto;
  }

  #Footer {
    margin-top: 50px !important;
  }

  .arch-content-img {
    margin: 10px;
  }

  .box-container-text {
    font-size: 15px;
  }

  .custom-row-990 {
    width: 650px !important;
  }

  .card-style {
    width: 100% !important;
  }

}

@media (max-width:469px) {
  .custom-row-990 {
    width: 600px !important;
  }

  .card-style {
    width: 80% !important;
  }
}

@media (max-width:399px) {
  .custom-row-990 {
    width: 550px !important;
  }
}

@media (max-width:350px) {
  .custom-row-990 {
    width: 500px !important;
  }
}

@media (max-width:348px) {
  .first-card {
    margin-right: 160px !important;
  }

  .card-style2 {
    left: 40px !important;
  }

  .above-card {
    margin-right: 200px !important;
  }

  .last-card {
    margin-right: 200px !important;
  }
}

@media (max-width:585px) {
  .card-style2 {
    margin-left: 0px !important;
  }
}


@media (max-width: 546px) {
  /* .footer-section2 .col-4 {
    flex: 0 0 200%;
    max-width: 20%;
  } */


  /* .footer-section {
    display: block;
  }

  .footer-section2 {
    display: none;
  } */

  .location-icon-style {
    margin-top: 5px;
  }

  .location-texts-head {
    margin-left: 100px !important;
  }

  .input-style {
    width: 90%;
  }

  .copy-rights-reserved {
    margin-left: 80px;
  }

  /* .copy-rights-reserved-head {
    margin-left: 20px;
  } */
}

@media (max-width:815px) and (min-width:768px) {
  .card-style {
    width: 120px;
  }

  .card-style img {
    height: 200px;
  }

  .custom-row-990 {
    width: 870px !important;
  }

  .industry-cards {
    padding-left: 50px;
  }
}

@media (max-width: 990px) {
  .card-style {
    margin-left: 70px !important;
    margin-top: 10px;
  }

  .card-label {
    font-size: 15px;
  }

  .home-style-left-col h1 {
    font-size: 70px;
  }

  .custom-row-990 {
    display: flex;
    flex-wrap: wrap;
    width: 950px;
  }

  .industry-cards {
    padding-right: 150px !important;
  }

  .custom-col-3 {
    flex: 0 0 25% !important;
    max-width: 25% !important;
  }

}



@media (max-width: 920px) {
  .card-style {
    margin-left: 10% !important;
  }
}

@media (max-width:2249px) {
  .industry-cards {
    margin: auto;
  }
}

@media (max-width:1560px) {
  /* .industry-cards
  { 
    margin-left: 10%;
  } */
}

@media (max-width:1390px) and (min-width:1327px) {
  .industry-cards {
    margin-left: 8.4%;
  }
}

@media (max-width:1327px) and (min-width:1290px) {
  .industry-cards {
    margin-left: 6.5%;
  }
}


@media (max-width:1240px) and (min-width:1200px) {
  /* .industry-cards {
    margin-left: 5.5% !important;
  } */
}

@media (max-width:1760px) {
  /* .industry-cards {
    margin-left: 20%;
  } */
}

@media (max-width:1600px) {
  /* .industry-cards {
    margin-left: 16%;
  } */
}

@media (min-width: 1027px) and (max-width: 1366px) {
  .industry-cards {
    margin-left: 4.3%;
  }
}

@media (max-width:1450px) and (min-width:1390px) {
  .industry-cards {
    margin-left: 10%;
  }
}

@media (max-width:1280px) {
  /* .industry-cards {
    margin-left: 6.7%;
  } */
}

@media (max-width:1175px) {
  .phone-text {
    margin-left: 60%;
  }

  .contact-text {
    margin-left: 50%;
  }
}

@media (max-width:1470px) {
  .contact-text {
    margin-left: 40%;
  }
}

/* FOOTER  */

@media (max-width:1061px) {
  .copy-rights-reserved-head {
    position: static !important;
    margin-top: 3% !important;
  }
}

@media (max-width:1236px) and (min-width:1198px) {
  .contact-text {
    margin-left: 50%;
  }
}

@media (max-width:968px) {
  .contact-text {
    margin-left: 20%;
  }
}

@media (max-width:1210px) and (min-width:769px) {
  /* .input-style-messge {
    width: 90%;
  } */
}

@media (max-width:1210px) and (min-width:990px) {
  .input-style {
    width: 80%;
  }
}

@media (max-width:1215px) and (min-width:1199px) {
  .industry-cards {
    margin-left: 0.4% !important;
  }
}

@media (max-width:1199px) {
  .input-style-messge {
    width: 580px;
  }
}

@media (max-width:1080px) {
  .input-style-messge {
    width: 510px;
  }
}

@media (max-width:1199px) and (min-width:1045px) {
  .industry-cards {
    margin-left: 5% !important;
  }
}

@media (max-width:1045px) and (min-width:1027px) {
  .industry-cards {
    margin-left: 3% !important;
  }
}

@media (max-width:995px) {
  #Footer .form-sections .form-row-style>div {
    width: 100% !important;
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }

  .input-style {
    width: 90%;
  }

  .email {
    margin-left: 10px !important;
  }

  .subject {
    margin-left: 10px !important;
  }
}

@media (max-width:995px) {
  .footer-image-column {
    height: 695px;
  }
}