html, body {
  overflow-x: hidden;
  width: 100vw;
  position: relative;
  font-family: none;
}

.unwita-logo-img{
    width: 120px;
    /* height: 30px; */
     transition: transform 0.3s ease, color 0.3s ease;
}

.unwita-logo-img:hover{
      transform: scale(1.1);
}


.nav-style {
    background-color: #255f5f;
    border: none;
    width: 100%;
    margin: 20px;
    /* height: 10%; */
    z-index: 10;
}

nav {
    margin: 0px !important;
    position: fixed !important;
}

.navbar-inverse .navbar-nav>.active>a {
    /* color: rgb(195, 255, 195) !important; */
    background-color: transparent !important;
      /* text-decoration-line: underline; */
  text-decoration-style: solid;
  
    /* font-weight: bold; */
}

.navbar-inverse .navbar-nav>li>a {
    color: rgb(240, 235, 227);
    font-family: 'Playfair Display';font-size: 22px;
     transition: transform 0.3s ease, color 0.3s ease;
}

.navbar-inverse .navbar-nav>li>a:hover {
      /* text-decoration-line: underline; */
  text-decoration-style: solid;
  transform: scale(1.1);
    /* color: rgb(195, 255, 195) !important; */
}

.navbar-brand {
    width: 200px;
    /* height: 55px; */
    background-color: bisque;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    height: 55px;
}

.navbar-brand:hover{
    background-color: bisque !important;
}

.navbar-brand a{
    text-decoration: none;
    color: black;
}

.navbarand-name {
    margin-left: 20px;
    position: relative;
    bottom: 5px;
}

.website-color {
    color: green;
}